/build
*.user

# Visual Studio
.vs/
*.vcxproj.user
!lunasvg.vcxproj
!lunasvg.vcxproj.filters
!plutovg/plutovg.vcxproj
!plutovg/plutovg.vcxproj.filters
*.sln
!lunasvg.sln
!exports.props
*.suo
*.user
*.userosscache
*.sln.docstates
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Ww][Ii][Nn]32/
[Bb]uild/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
*.opendb
*.opensdf
*.sdf
*.db
*.cachefile
